<header
  class="flex justify-center items-center py-5 w-full xl:w-[1120px] mx-auto"
>
  <nav class="flex flex-row gap-x-10 opacity-90">
    <a href="/">Acerca de</a>
    <a href="/projectos">projectos</a>
    <a href="/sobre-mi">sobre mí</a>
  </nav>
</header>
